body{
    background-color: #fff;
    background-image: url('make_it_ina_university_setting.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.contain {
    background-color: #858796;
    margin: 50px 50px 50px 50px;
    height:500px;
    width:500px;
   
       

}

.wordz{
    font-family:  "Segoe UI",  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    border: 0px solid black;
    width: 394px;
    height: 575px;
    margin-left: 450px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right:450px;
    padding:25px 10px 10px 13px;
    background-color: rgba(0, 0,0, 0.6);
    border-radius: 10px;
    
    
}

.wordz > .textfield{
border-radius: 19px;
padding: 13px 10px;
width: 300px;
border: 1.5px solid black;
margin-left: 30px;
margin-right:23px;
background-size:100%;

}


#Campus{
    width:315px;
    
}

#button{
    border-radius:17px;
    width:315px;
    padding: 10px 10px;
    font-size: 15px;
    background-color: #4e73df;
    border: 0px solid black;
    
}

#button:hover{
    background-color: rgb(41, 41, 192);
    cursor:pointer;
    border:0.5px rgb(255, 255, 255) solid;
}

.text{
    margin-left: 53px;
    color: #a3a5b4;

}


.main > .wordz > h2{
    text-align:center;
    
}

.main p{
    text-align: center;
    font-size: 18px;
    
}

#forgotpassword{
    color:rgb(86, 86, 245);
    text-decoration: none;
    margin-left: 28%;

}

#forgotpassword:hover{
    color:rgb(204, 31, 31);
}

.box2{
    height:17px;
    border: 0px solid black;
    position:relative;
    top:50px;
    background-color: #FCEBD1;
    width:417px;
    margin-left:-13px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    
    
}

.box2 > p {
   font-size:13px;
   color:rgb(80, 74, 74);
}


@media (max-width:700px) {
    .wordz{
        width:290px;
        height: 460px;
        margin-left:20%;
        

    }

    .wordz > .textfield{
        font-size: 12px;
        width:200px;
        margin-bottom:0px;

    }

    #Campus{
        width:220px;
        font-size: 12px;
        height:44px;
    }

    #button{
        width:220px;
        margin-top:-70%;
    }


    #forgotpassword > p{
        font-size:0.9rem;
        position:absolute;
        bottom:80px;
        margin-left:70px;

    }

     h2{
        font-size: 1.3rem;
    }

    .box2{
        position:relative;
        top: 3px;
        width:312px;
        height:15px;
    }
   
    .box2 > p{
        font-size:11.5px;
    }
}





